/* Full Page Centering */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f1f1;
}

/* Form */
.login-form fieldset {
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    background: #1f1f1f;
    border: 2px solid #333;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Legend */
.login-form legend {
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
}

/* Inputs */
.login-form input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #555;
    background: #2a2a2a;
    color: #fff;
    font-size: 15px;
}

.login-form input:focus {
    outline: none;
    border: 1px solid #ff6b00;
    box-shadow: 0 0 6px #ff6b00;
}

/* Button */
.login-form button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    background: #ff6b00;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    background: #e86300;
    transform: scale(1.03);
}

.creat-acc{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

.creat-acc:hover{
    color: rgb(227, 185, 105);
    text-decoration:underline ;
}